body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M957.35 143.15L976.52 143.15L976.52 162.32L957.35 162.32z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M308.06 219.01L335.86 219.01L335.86 246.81L308.06 246.81z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1247.08 16.23 a51.33 51.33 0 1 0 102.66 0 a51.33 51.33 0 1 0 -102.66 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M941.5 244.21L991.18 244.21L991.18 293.89L941.5 293.89z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M484.75 209.87L520.21 209.87L520.21 245.33L484.75 245.33z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M864.73 172.49L903.28 172.49L903.28 211.04L864.73 211.04z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1300.47 116.63 a45.86 45.86 0 1 0 91.72 0 a45.86 45.86 0 1 0 -91.72 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1043.7 190.85L1049.05 190.85L1049.05 196.2L1043.7 196.2z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M676.54 414.63 a34.7 34.7 0 1 0 69.4 0 a34.7 34.7 0 1 0 -69.4 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M-33.58 123.93 a51.78 51.78 0 1 0 103.56 0 a51.78 51.78 0 1 0 -103.56 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1296.44 65.62a13.61 13.61 0 1 0-15.81-22.16z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1420.06 12.64L1471.04 12.64L1471.04 37.47L1420.06 37.47z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M984.33 460.97a30.09 30.09 0 1 0 42.14-42.96z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M385.93 237.24L434.88 237.24L434.88 245.2L385.93 245.2z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1389.28 300.49L1401.32 300.49L1401.32 312.53L1389.28 312.53z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M37.97 196.02a1.38 1.38 0 1 0-1.82-2.07z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1261.22 176.17L1303.91 176.17L1303.91 218.86L1261.22 218.86z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1000.61 390.02L1047.32 390.02L1047.32 423.55L1000.61 423.55z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1350.14 446.2a23.55 23.55 0 1 0 47-3.02z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M813.51 294.34 a21.64 21.64 0 1 0 43.28 0 a21.64 21.64 0 1 0 -43.28 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M410.44 113.85L463.33 113.85L463.33 166.74L410.44 166.74z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M265.57 516.5 a44.17 44.17 0 1 0 88.34 0 a44.17 44.17 0 1 0 -88.34 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M545.69 234.26 a36.16 36.16 0 1 0 72.32 0 a36.16 36.16 0 1 0 -72.32 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M607.24 577.61a43.87 43.87 0 1 0 54.09-69.08z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M124.61 130.68 a23.43 23.43 0 1 0 46.86 0 a23.43 23.43 0 1 0 -46.86 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M438.52 260.58L469.55 260.58L469.55 292.34L438.52 292.34z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1082.8 377.44 a1.56 1.56 0 1 0 3.12 0 a1.56 1.56 0 1 0 -3.12 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M284.91 246.82a55.39 55.39 0 1 0 91.59-62.32z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1018.88 187.04a3.18 3.18 0 1 0 5.36 3.43z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M748.29 467.04 a44.6 44.6 0 1 0 89.2 0 a44.6 44.6 0 1 0 -89.2 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1064.22 217.09 a55.2 55.2 0 1 0 110.4 0 a55.2 55.2 0 1 0 -110.4 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1125.71 534.81 a10.38 10.38 0 1 0 20.76 0 a10.38 10.38 0 1 0 -20.76 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M226.82 337.89L272.89 337.89L272.89 383.96L226.82 383.96z' fill='%23d3b714'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

h1{
    color: #fff;
    padding: 10px;
}

#mostrarError{
    color: white;
}

.contenedor{
    max-width: 400px;
    margin:  50px auto;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.contenedorIngresar{
    max-width: 400px;
    margin:  50px auto;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(255, 255, 255, 0.3);
}

.contenedorError{
    max-width: 400px;
    margin:  50px auto;
    background: transparent;
    border-radius: 5px;
}

#cabecero{
    background-color: #3f51b5;
    text-align: center;
}

#persona{
    margin-left: 24px;
}

.elemento{
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

.elemento:last-child{
    border-bottom: 0;
}

input[type="checkbox"]{
    margin: 20px;
}

p{
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
}

form{
    text-align: center;
    margin-left: 20px;
}

button{
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #3f51b5;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
}

input[type="text"]{
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-weight: 200;
    width: 40%;
}

input[type="text"]:focus{
    outline: none;
    box-shadow: inset 0 -3px 0 0 #3f51b5;
}

::placeholder{
    color: grey;
    opacity: 1;
}